<h1>Reset password</h1>

<h2>Reset by login</h2>

<label>Login</label>
<input [(ngModel)]="login" type="text">

<button (click)="resetPasswordByLogin()">Reset password</button>

<h2>Reset by email</h2>

<label>Email</label>
<input [(ngModel)]="email" type="text">

<button (click)="resetPasswordByEmail()">Reset password</button>