<h1>Connection</h1>

<h2>Login/password authentication</h2>

<label for="login">Login</label>
<input [(ngModel)]="login" type="text">
<label for="password">Password</label>
<input [(ngModel)]="password" type="text">
<button (click)="connectWithLoginPassword()">Connect</button>

<h2>Token authentication</h2>

<label for="token">Token</label>
<input [(ngModel)]="token" type="text">
<button (click)="connectWithToken()">Connect</button>