<h1>Registration</h1>

<h2>Basic registration</h2>

<label>Login</label>
<input [(ngModel)]="login" type="text">
<label>Password</label>
<input [(ngModel)]="password" type="text">
<label>Confirm your password</label>
<input [(ngModel)]="passwordConfirmation" type="text">

<button (click)="register()">Register</button>

<h2>Token registration</h2>

<label>Token</label>
<input [(ngModel)]="token" type="text">

<button (click)="registerWithToken()">Register</button>

<h2>Custom registration</h2>

<label>Login</label>
<input [(ngModel)]="login" type="text">
<label>Password</label>
<input [(ngModel)]="password" type="text">
<label>Confirm your password</label>
<input [(ngModel)]="passwordConfirmation" type="text">

<button (click)="customRegister()">Register</button>